<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481450291624-5to4dliaqsbfma5b3fcoupas75mr2f16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481450291624-5to4dliaqsbfma5b3fcoupas75mr2f16</string>
	<key>API_KEY</key>
	<string>AIzaSyDUh-XgFjsqMCciHw78kr4Tfm_mutW2tmo</string>
	<key>GCM_SENDER_ID</key>
	<string>481450291624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RandPeople.RandPeople</string>
	<key>PROJECT_ID</key>
	<string>hobbymate-b2f08</string>
	<key>STORAGE_BUCKET</key>
	<string>hobbymate-b2f08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481450291624:ios:94af19e6ab9d37dc</string>
	<key>DATABASE_URL</key>
	<string>https://hobbymate-b2f08.firebaseio.com</string>
</dict>
</plist>